<h1>Restaurants#show</h1>


<p>name: <%= @restaurant.name %></p>
<p>adress: <%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<%= link_to "Return to all restaurants", restaurants_path %>
